<div style="border-style: solid; border-width: 5px;margin-top:3vh;">
    <h1>{{threadController.thread.titulo}}</h1>
    <h3>{{threadController.thread.autor}}</h3>
    <p>{{threadController.thread.contenido}}</p>
    <span>{{threadController.thread.creado}}</span>
    <div ng-repeat="comment in threadController.thread.comentarios" style="border-style: solid; border-width: 5px;margin-top:3vh; border-color: #000088">
        <span>{{comment.autor}}</span>
        <p>{{comment.contenido}}</p>
        <span>{{comment.creado}}</span>
    </div>
</div>
<button ng-click="threadController.commentForm=!threadController.commentForm">Nuevo Comentario</button>
<div ng-if="threadController.commentForm" style="border-style: solid; border-width: 5px;margin-top:3vh;">
    <span>titulo</span>
    <input ng-model="threadController.newComment.titulo" style="width: 100%;"><br>
    <span>Autor</span>
    <input ng-model="threadController.newComment.autor" style="width: 100%;">
    <span>Contenido</span>
    <input ng-model="threadController.newComment.contenido" style="width: 100%;">
    <button ng-click="threadController.createComment()">Crear</button>
</div>