<div class="container">
    <div class="jumbotron">
        <h1>{{threadController.thread.titulo}} <small>{{threadController.thread.creado| date: 'short'}}</small></h1>
        <p>{{threadController.thread.contenido}}</p>
        <ul ng-if="threadController.thread.comentarios.length" class="list-group">
            <li ng-repeat="comment in threadController.thread.comentarios" class="list-group-item">
                <span>{{comment.autor}}</span>:
                {{comment.contenido}}
                <span class="badge">{{comment.creado| date: short}}</span>
            </li>
            <li class="list-group-item">
                <a class="btn btn-success" ng-click="threadController.commentForm = !threadController.commentForm"> Comentar</a>
            </li>
        </ul>
    </div>
    <div ng-if="threadController.commentForm" class="well">
        <form name="commentForm">
            <div class="form-group">
                <label for="autor">Autor</label>
                <input type="text" class="form-control" id="autor" placeholder="Anonimo" ng-model="threadController.newComment.autor"/>
            </div>
            <div class="form-group">
                <label  for="contenido">Contenido</label>
                <textarea id="contenido" class="form-control" ng-model="threadController.newComment.contenido" required></textarea>
            </div>
            <button ng-click="threadController.createComment();categoryController.threadForm = !categoryController.threadForm;" class="btn btn-success" ng-disabled="commentForm.$invalid">Comentar</button>
        </form>
    </div>
</div>
