<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-click="navbarController.navCollapsed = !navbarController.navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/#/">2Reason</a>
        <a class="navbar-brand" href="/#/">Dog</a>
        <a class="navbar-brand" href="/#/">Cat</a>
        <a class="navbar-brand" href="/#/">Snake</a>
        <a class="navbar-brand" href="/#/">Fish</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" collapse="navbarController.navCollapsed">
        <ul class="nav navbar-nav">
            <li ng-repeat="category in navbarController.categories" class="{{category.subcategorias && 'dropdown'}}" >
                <a  ng-click="navbarController.navCollapsed = true; navbarController.test()" ng-href="/#/app/category/{{category._id}}">{{category.nombre}}</a>
            </li>
        </ul>
    </div> 
    <!-- /.navbar-collapse -->
</nav>