<div class="container">
    <h1>
        {{categoryController.getCategory()}}
    </h1>
    <div ng-repeat="thread in categoryController.threads" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{thread.titulo}}</h3>
        </div>
        <div class="panel-body">
            {{thread.contenido}}
            <ul ng-if="thread.comentarios.length" class="list-group">
                <li ng-repeat="comment in thread.comentarios" class="list-group-item">
                    <span>{{comment.autor}}</span>:
                    {{comment.contenido}}
                    <span class="badge">{{comment.creado| date: short}}</span>
                </li>
                <li class="list-group-item">
                    <a class="btn btn-default" ng-href="/#/app/thread/{{thread._id}}" > Ver todos los comentarios y/o comentar</a>
                </li>
            </ul>
        </div>
    </div>

    <button class="btn btn-primary" ng-if="categoryController.threads.length > 0" ng-click="categoryController.getMoreThreads()">Mostrar mas</button>
    <button ng-show="!categoryController.threadForm" class="btn btn-success" ng-click="categoryController.threadForm = !categoryController.threadForm">Nuevo Thread</button>

    <div ng-if="categoryController.threadForm" class="well">
        <form>
            <div class="form-group">
                <label for="titulo">Título</label>
                <input type="text" class="form-control" id="titulo" placeholder="Título" ng-model="categoryController.newThread.titulo"/>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Autor</label>
                <input type="text" class="form-control" id="Autor" placeholder="Autor" ng-model="categoryController.newThread.autor"/>
            </div>
            <div class="form-group">
                <label for="exampleInputFile">Contenido</label>
                <textarea class="form-control" ng-model="categoryController.newThread.contenido"></textarea>
            </div>
            <button ng-click="categoryController.createThread();categoryController.threadForm = !categoryController.threadForm;" class="btn btn-success">Comentar</button>
        </form>
    </div>
</div>